{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
		    <h1 class="mx-auto my-0 text-uppercase">Talita Arqueros</h1>
	        <h2 class="text-white-50 mx-auto mt-2 mb-5">Com que te conectas?</h2>
	        <a class="btn btn-primary js-scroll-trigger" href="#about">Saiba mais!</a>
            </div>
        </div>
    </header>

    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Acredita no que você pode alcançar?</h2>
		    <p class="text-white-50">Venha conhecer a teraipa holística e externalizar bons sentimentos. Entre en <a class="js-scroll-trigger" href="{{ url_for('contact') }}">contato</a> e agende seu atendimento</p>
                </div>
            </div>
            <img class="img-fluid" src="{{ url_for('static', filename='assets/img/mandala-flower.jpg') }}" width="300" height="300" alt=""/>
        </div>
    </section>

    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container">

            <!-- Featured Project Row-->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{ url_for('static', filename='assets/img/bg-masthead.jpg') }}" alt="" /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Leitura Tarot</h4>
                        <p class="text-black-50 mb-0">Leitura de tarot abre novas perspectivas e traz observações sobre o context de nossa vida.
			Com o tarot, você encontra um caminho quando não sabe mais por onde ir.</p>
                    </div>
                </div>
	        </div>

	    <!-- Project One Row-->
	    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6"><img class="img-fluid" src="{{ url_for('static', filename='assets/img/demo-image-01.jpg') }}" alt="" /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
			                <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Misty</h4>
                                <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                                <hr class="d-none d-lg-block mb-0 ml-0" />
                            </div>
                         </div>
                    </div>
	        </div>
        </div>

	    <!-- Project Two Row-->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6"><img class="img-fluid" src="{{ url_for('static', filename='assets/img/demo-image-02.jpg') }}" alt="" /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Mountains</h4>
                                <p class="mb-0 text-white-50"> Another example of a project with its respective description.
				These sections work well responsively as well, try this theme on a small screen!</p>
                                <hr class="d-none d-lg-block mb-0 mr-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Signup-->
    <section class="signup-section" id="signup">
        <div class="container">
	    <div class="d-flex justify-content-center"> 
		{% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            <div class="row">
		    <div class="col-md-10 col-lg-8 mx-auto text-center">
			    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
			    <h2 class="text-white mb-5">Inscreva-se e fique por dentro das novidades!</h2>
			    <form class="form-inline d-flex" method="post">
				    {{ form.email(class='form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0', id='inputEmail') }}{{ form.hidden_tag() }}
				    {{ form.submit.button }}{{ form.submit(class='btn btn-primary mx-auto') }}
			    </form>
		    </div>
	    </div>
	</div>
    </section>

    <!-- Contact-->
    <section class="contact-section bg-black" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Endereço</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">Carrer de Blai, 67, etlo 4</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="#!">hello@yourdomain.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Telefone</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">+1 (555) 902-8832</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
	            <a class="mx-2"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2"><i class="fab fa-facebook-f"></i></a>
                    <a class="mx-2"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
{% endblock %}
