{% extends "base.html" %}

{% block title %}Talita Arqueros - Erro de servidor interno{% endblock %}

{% block page_content %}
<section class="about-section text-center" id="ERROR500">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 mx-auto">
	        <h2 class="text-white mb-4">ERROR 500</h2>
		<p class="text-white-50">
		Ops, algo occoreu inesperadamente. Por favor, tente reiniciar a página.
		Se o erro persistir tente novamente após alguns minutos.
		</p>
	    </div>
        </div>
	<img class="img-fluid" src="{{ url_for('static', filename='assets/img/mandala-flower.jpg') }}" width="300", height="300" alt=""/>
    </div>
</section>
{% endblock %}
